/* --------------------[Global Modal Definitions]-------------------- */
#modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
#modal-background {
    border: none;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
}
  
#modal-content {
    background-color: #181A1B;
    border: 1px solid white;
    border-radius: 35px;
    min-width: 200px;
    padding: 10px 25px 25px 25px;
    position: absolute;
    text-align: center;
    width: 15%;
}

/* --------------------[Global Modal Element Definitions]-------------------- */
.modal-title { margin: 0; }

.modal-form {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    row-gap: 15px;
}
.modal-form__error {
    color: lightcoral;
    font-size: 10pt;
    margin: 0;
    text-align: left;
}

.modal-button {
    margin-top: 25px;
    width: 100%;
}