/* --------------------[Global Modal Definitions]-------------------- */
#modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
#modal-background {
    border: none;
    cursor: default;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
}
  
#modal-content {
    background-color: #181A1B;
    border: 1px solid white;
    border-radius: 35px;
    min-width: 200px;
    padding: 10px 25px 25px 25px;
    position: absolute;
    text-align: center;
    width: 15%;
}

/* --------------------[Global Modal Class Definitions]-------------------- */
.modal-title { margin: 0; }

.modal-form {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    row-gap: 15px;
}
.modal-form__error {
    color: lightcoral;
    font-size: 10pt;
    margin: 0;
    text-align: left;
}

.modal-button, .modal-button-delete, .modal-form__button {
    margin-top: 15px;
    width: 100%;
}
.modal-button-delete {
    background-color: #FF5A5F;
    border: 1px solid black;
}
.modal-button-delete:hover {
    background-color: white;
    border: 1px solid black;
    color: black;
}
.modal-button-delete:active {
    background-color: #999999;
    border: 1px solid white;
    color: white;
}