/* --------------------[Custom Font Definitions]-------------------- */
@font-face {
    font-family: 'kenya-SouthSide';
    src: local('kenya_South Side'),
    url('./fonts/kenyaSouthSide.woff') format('woff');
}
@font-face {
    font-family: 'kenya-NewRodin ProN EB';
    src: local('kenya-NewRodin ProN (Extra Bold)'), 
    url('./fonts/kenyaNewRodinProNEB.woff') format('woff');
}
@font-face {
    font-family: 'Montserrat EB';
    src: local('Montserrat Extra Bold'),
    url('./fonts/MontserratExtraBold.woff2') format('woff2');
}


/* --------------------[Global Element Definitions]-------------------- */
body { /* Dark Mode set by default */
    background-color: #181A1B;
    color: white;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'kenya-NewRodin ProN EB', sans-serif;
    /* Specs clarification: Font is ExtraBold, so font-weight is not required, 
    and makes no visible difference if added */
    letter-spacing: 0.4px;
}
h1 { font-size: 24pt; }
h2 { font-size: 18pt; }
h3 { font-size: 14pt; }

label, li, p, small { font-family: 'kenya-SouthSide', sans-serif; }
label, li, p { font-size: 14pt; }

a { 
    color: white;
    text-decoration: none; 
}

button {
    background-color: white;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    color: black;
    font-family: 'Montserrat EB', sans-serif;
    font-size: 14pt;
    letter-spacing: 0.3px;
    text-align: center;
}
button:hover {
    background-color: #999999;
    border: 1px solid black;
    color: white;
    cursor: pointer;
}
button:active {
    background-color: #FF5A5F;
    border: 1px solid black;
    color: white;
}
button:disabled, button:disabled:hover {
    background-color: #CCCCCC;
    border: 1px solid #999999;
    color: black;
    cursor: default;
}

textarea {
    font-family: sans-serif;
    min-height: 200px;
}

/* --------------------[Global Class Definitions]-------------------- */
.hidden {
    display: none;
    visibility: hidden;
}